* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 50px 0;

    text-align: center;
}

.section-1 {
    display: flex;
    gap: 0.7%;
    justify-content: center;
    margin-bottom: 30px;
}

.section-1 input {
    border-radius: 10px;
    font-family: 'Space Grotesk', sans-serif;
    background-color: lightgray;
    padding: 10px;
    width: 330px;
}

.section-1 .btn {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Space Grotesk', sans-serif;
    background-color: darkcyan;
    color: #FFF;
    padding: 10px;
    width: 100px;
}

#userData {
    border: 1px solid;
    border-radius: 10px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 50vh;
    width: 40vw;
}

img {
    border: 2px solid #000000;
    border-radius: 50%;

    width: 120px;
}

.section-2 .bio {
    margin-bottom: 20px;
}

.section-2 .social {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 90%;
}

.perfil,
.section-3 {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 90%;
}

.section-3 {
    border: 2px dashed;
    background-color: darkcyan;
    color: #FFF;
    margin-top: 50px;
    padding: 30px;
}

@media (max-width: 1050px) {

    .section-1 input {
        width: auto;
    }

    img {
        display: flex;
        justify-content: center;
    }

    #userData {
        width: auto;
        height: auto;
        justify-content: center;
        margin-bottom: 50px;
    }

    .section-2 .bio {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-2 .social {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .perfil,
    .section-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-3 {
        flex-direction: column;
    }
}